<app-employee></app-employee>

<div class="modal fade" id="deliverModel" tabindex="-1" aria-labelledby="viewModelLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure ?</p>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatecontainerstatustoDeliver()" >OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="returnModel" tabindex="-1" aria-labelledby="viewModelLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure ?</p>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatecontainerstatustoReturn()" >OK</button>
        </div>
      </div>
    </div>
  </div>
<!--  Table -->
<div class="container" style="max-width:95%;">
    <table class="table table-hover my-5 table-dark table-striped">
        <thead style="color:rgb(71, 165, 42);">
            <tr class="abc">
                <th rowspan="2">Container Number</th>
                <th rowspan="2">Order Ids</th>
                <th colspan="3">Boarding Points</th>
            </tr>
            <tr>
                <th>Address</th>
                <th>Current Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let container of containerDetails">
                <td scope="col">{{container.containerNumber}}</td>
                <td scope="col">{{container.orderIds}}</td>
                <td class="abc">
                    <tr *ngFor="let details of container.BoardingPoints">
                        <td scope="col" class="abc">{{details.place}}</td>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let details of container.BoardingPoints">
                        <td scope="col" [ngStyle]="{'color': details.status == 'Delivered' ? 'rgb(156, 241, 28)' :(details.status == 'Returned' ? 'rgb(240, 173, 78)' : (details.status == 'in-transit' ? 'white': 'red')) }" style="color:rgb(156, 241, 28);"><b>{{details.status}} <i _ngcontent-eby-c5=""
                            class="fa fa-star-o ng-tns-c5-1"></i></b></td>
                    </tr>
                    
                </td>
                <td>
                    <tr *ngFor="let details of container.BoardingPoints">
                        <td style="text-align:center;">
                            <div class="btn-group dropstart">
                                <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                      </svg>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deliverModel"  (click)="boardingpoint([(details)])" (click)="details3([(container)])" style="color: black">
                                        Delivered
                                    </li>
                                    <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#returnModel" (click)="details3([(container)])" (click)="boardingpoint([(details)])" style="color: black">
                                    Returned</li>
                                </ul>
                              </div>
                        </td>
                    </tr>
                    
                </td>
                
            </tr>
        </tbody>
    </table>
</div>