<div
  style="background-color: rgb(0, 60, 255); margin: 10px 10px; padding-left:10px; padding-right: 10px;padding-top:40px; height: 80px; position: sticky; border-radius: 10px;">
  <div>
    <nav class="navbar  navbar-expand-lg navbar-light bg-dark" style="border-radius: 23px; height: 80px;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-warning  ms-5 colorchange" aria-current="page"
              routerLink="/employee/product"><b>Products</b></a>
            <a class="nav-link text-warning ms-5" routerLink="/employee/order"><b>Orders</b></a>
            <a class="nav-link text-warning ms-5" routerLink="/employee/receiver"><b>Receivers</b></a>
            <a class="nav-link text-warning ms-5" routerLink="/employee/delivery"><b>Delivery</b></a>

          </div>
        </div>
        <form class="d-flex justify-content-end">
          <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success me-5" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</div>
