button:hover{
    background-color: blue;
    color: white;
}
button{
    background-color: rgb(236, 228, 228);
    border: none;
}

.dropdown-menu{
    background-color: rgb(236, 228, 228);
    text-align: center;
}